
.newspaper{
    background-color:rgb(250, 235, 215);
    font-family:Times New Roman;
    font-weight:700;
}

.magazine1{
    background-color:rgb(0, 128, 128);
    color: rgb(255, 255, 255);    
    font-family:Verdana;
    font-weight: 900;
    text-transform:uppercase;
}