.newspaper {
    background-color: antiquewhite;
    font-family: Times New Roman;
    font-weight: 700;
}

.magazine1 {
    background-color: teal;
    color: white;
    font-family: Verdana;
    font-weight: 900;
    text-transform: uppercase;
}

.magazine2 {
    background-image: url("images/pink-pattern.png");
    color: fuchsia;
    font-family: Verdana;
    font-weight: 900;
}


/*Grupo de Tamanho*/

.medium {
    font-size: 20px;
    padding: 8px;
}

.big {
    font-size: 30px;
    padding: 10px;
}

.reallybig {
    font-size: 40px;
    padding: 15px;
}


/*Gupo de Rotação*/

.rotateleft {
    transform: matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0);
}

.rotateright {
    transform: matrix(0.996195, 0.0871557, -0.0871557, 0.996195, 0, 0);
}


/*Grupo de Inclinação*/

.skewleft {
    transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

.skewright {
    transform: matrix(1, 0, -0.176327, 1, 0, 0);
}